@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
:root {
  --text-color: #f5f5f5; /* Text color */
  --hover-color: #d32020; /*  Hover color #12f7ff */
  --bg-color: #000000; /* Background color #250821*/
  --secon-bg-color: #292e33; /* Secondary background color*/
  --big-font: 2.5rem; /*Big font size*/
  --normal-font: 2rem; /* Normal font size*/
  --neon-box-shadow: 0 0 0.5rem #d32020; /*  Neon box shadow #12f7f*/
  --h2-font: 3rem; /*  Font size for <h2> elements*/
  --font-neon-text-shadow:                         /*  Neon text shadow */ 0 0
      10px rgba(211, 32, 32, 1.3),
    0 0 20px rgba(211, 32, 32, 1.3), 0 0 40px rgba(211, 32, 32, 1.3),
    0 0 80px rgba(211, 32, 32, 1.3), 0 0 80px rgba(211, 32, 32, 1.3),
    0 0 100px rgba(211, 32, 32, 1.3), 0 0 80px rgba(211, 32, 32, 1.3),
    0 0 100px rgba(211, 32, 32, 1.3);
}

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--secon-bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 0.5rem;
}

body {
  font-family: "poppins";
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10%;
}

header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid var(--secon-bg-color);
  padding: 12px 10%;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: var(--hover-color);
}

.navlist {
  display: flex;
}

.navlist a {
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 700;
}

.navlist a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(211, 32, 32, 1.3), 0 0 20px rgba(211, 32, 32, 1.3),
    0 0 40px rgba(211, 32, 32, 1.3), 0 0 80px rgba(211, 32, 32, 1.3),
    0 0 80px rgba(211, 32, 32, 1.3), 0 0 100px rgba(211, 32, 32, 1.3),
    0 0 80px rgba(211, 32, 32, 1.3), 0 0 100px rgba(211, 32, 32, 1.3);
}

.navlist a.active {
  color: var(--hover-color);
}
#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  border-radius: 3px;
  background: var(--hover-color);
  color: var(--secon-bg-color);
  display: none;
}

section {
  padding: 100px 10%;
}

.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 4em;
  /* background-color: black; */
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: var(--big-font);
  font-weight: 700;
}
.home .home-content .descuss::selection {
  background-color: rgb(255, 255, 255);
  color: black;
}
.change-text {
  font-size: 1.5rem;
  font-weight: 600;
}
.change-text h3 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}

.change-text h3 .word {
  position: absolute;
  display: flex;
  opacity: 0;
}

.change-text h3 .word .letter {
  /* transform-origin: center center 25px; */
  transition: opacity 0.3s, transform 0.3s;
  display: inline-block;
}
.change-text h3 .word .letter.out {
  /* transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2); */
  opacity: 0;
  transform: translateY(-1em);
}
.change-text h3 .word .letter.in {
  /* transition: 0.38s ease; */
  opacity: 1;
  transform: translateY(0);
}
.change-text h3 .word .letter.behind {
  /* transform: rotate(0deg); */
  opacity: 0;
  transform: translateY(1em);
}

.home-content {
  color: #bdbdbd;
  line-height: 1.6;
}

.info-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 2rem;
  width: 100%;
}
.info-box h5 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1em;
}
.info-box span {
  font-size: 0.9em;
  color: #bdbdbd;
  /* justify-content: space-between; */
}
.btn-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
}
/* chagen tree---------------- */
.btn-box .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--hover-color);
  color: var(--bg-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.6s;
  box-shadow: var(--neon-box-shadow);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid var(var(--hover-color));
}
/* chagne tree--------------- */
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.4s;
}
.btn:hover {
  color: var(--hover-color);
}

.btn:hover::before {
  width: 100%;
}

/* This use opposite */
/* chagne this one of tree---------- */
.btn:nth-child(2) {
  background: var(--bg-color);
  color: var(--hover-color);
}

.btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn:nth-child(2)::before {
  background: var(--hover-color);
}

.social-icons {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}
.social-icons a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  transition: 0.6s;
  box-shadow: 0 0 0.3rem #d32020;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.social-icons a i {
  font-size: 2rem;
}
.social-icons a:hover {
  color: var(--bg-color);
}

.social-icons a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--hover-color);
  transition: 0.6s;
  z-index: -1;
}

.social-icons a:hover::before {
  width: 100%;
}

.home-image {
  position: relative;
}
.image-box {
  text-align: center;
}
.image-box img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.liquid-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 10%;
  color: #12f7ff;
}

.liquid-shape:nth-child(2) {
  filter: blur(50px);
}

/* ---------------------------about section css---------------- */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2em;
  background: var(--secon-bg-color);
}

.about .image-about {
  /* text-align: center; */
  /* margin-top: 30px; */
  /* margin-left: 90px; */
  /* display: flex;*/
  align-items: center;
  /* justify-content: center;  */
  position: relative;
}
.about .imgage-about img {
  max-width: 400px;
  height: auto;
}

.about-content span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-content h2 {
  color: var(--hover-color);
  font-weight: 700;
  font-size: var(--normal-font);
}

.about-content h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}
.about-content p {
  color: #fdfdfd;
  font-weight: 300;
  margin-bottom: 1.5em;
}
/* .info-about1,
.info-about2,
.info-about3 {
  background-color: var(--bg-color);
  font-size: 0.7rem;
  padding: 10px;
  width: 90px;
  height: 90px;
  border-radius: 69% 70% 34% 100% / 21% 30% 70% 79%;
  display: block;
  box-shadow: var(--neon-box-shadow);
  border: 1px solid var(--hover-color);
  outline: 2px solid var(--bg-color);
  z-index: 100;
  animation: morph 6s linear infinite;
  text-align: center;
  position: relative; 
  This change  
} */
.info-about1 {
  left: 10%;
  top: 0%;
}
.info-about2 {
  left: 30%;
  top: 275%;
}
.info-about3 {
  left: 37%;
  top: 205%;
}
/* services section css---------------------- */
.main-text {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: var(--hover-color);
  margin-bottom: 20px;
}

.main-text h2 {
  font-weight: 600;
  font-size: 2.5rem;
}
.main-text span {
  color: #fdfdfd;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 200;
  text-transform: uppercase;
}
.section-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 2em;
}
.section-services .services-box {
  flex: 1 1 18em;
  padding: 2rem 1rem 2rem;
  text-align: center;
  background: var(--secon-bg-color);
  border-radius: 10px;
  transition: 0.4s;
}

.services-btn {
  width: auto;
  justify-content: center;
}

.services-box:hover {
  transform: translateY(-0.8rem);
}
.services-icon {
  background-color: var(--bg-color);
  font-size: 3em;
  border: 2px solid var(--hover-color);
  padding: 2rem;
  border-radius: 50%;
  box-shadow: var(--neon-box-shadow);
  color: var(--hover-color);

  /* align-items: center; */
  /* display: flex; */
}

/* service section css------------------ */
.skills {
  background-color: var(--secon-bg-color);
}
.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 30px;
  grid-column-gap: 50px;
}
.skill-bar {
  margin-bottom: 2.3rem;
}
.skill-main h3 {
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  text-align: center;
}
.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

/* example------------- */
/* This one */

.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
  /* margin-left: 10px; */
}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  border-radius: 25px;
}
.skill-bar .bar .html {
  width: 90%;
  animation: html 2s;
}
.skill-bar .bar .css {
  width: 60%;
  animation: css 4s;
}
.skill-bar .bar .javascript {
  width: 20%;
  animation: javascript 3s;
}
.skill-bar .bar .python {
  width: 80%;
  animation: python 5s;
}

/* Skill right---------------- */

.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box {
  margin: 10px 0;
  position: relative;
  flex: 1 1 15rem;
  /* background-color: red; */
}
.box .text {
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
.box .text big {
  font-size: 400;
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box .text small {
  display: block;
  font-weight: 600;
}
.circle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid#fff;              cycle for profile  */
}
.circle .points {
  width: 2px;
  height: 10px;
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
  /* animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i)*0.05s); */
}

.points.marked {
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i) * 0.05s);
}

/* portfolio-css style-------------------------  */
.fillter-button {
  margin: 2rem;
  text-align: center;
}

.fillter-button .btn {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-left: 1.3rem;
  color: var(--text-color);
}

.fillter-button .btn:hover {
  color: var(--hover-color);
  text-shadow: var(--neon-box-shadow);
}
.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
}
.port-box {
  position: relative;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  grid-template-rows: 1fr auto;
  align-items: center;
  background: #292e33;
  border: 2px solid var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  transition: 0.5s;
}

.port-box:hover {
  transform: translateY(-0.8rem);
}

.prot-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prot-image img {
  height: 100%;
  width: 100%;
  opacity: 0.5s;
  transition: 0.5s;
}
/* Use hover to flex--------- */
.port-content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), #d32020);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  padding: 0 2rem;
}
.port-box:hover .port-content {
  opacity: 1;
}

.port-box:hover .prot-image img {
  transform: scale(1.1);
}

.port-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.port-content p {
  font-size: 0.8rem;
  padding: 5px 0 15px 0;
}

.port-content a {
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid var(--hover-color);
}

/* contact style css--------------------  */
.contact {
  background-color: var(--secon-bg-color);
  width: 100%;
  /* height: 100%; */
}

.contact form {
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}
.contact form input,
.contact form textarea {
  width: 100%;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  margin-bottom: 0.8rem;
  background: var(--bg-color);
}
.contact form textarea {
  resize: none;
}

.formBtn {
  justify-content: center;
  display: flex;
  width: 100%;
}
.formBtn .btn {
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid var(--hover-color);
}

/* footer css-------------------------  */
footer {
  padding: 1.5rem 10%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: var(--bg-color);
  /* height: 100%; */
}
footer p {
  color: #bdbdbd;
}
footer a {
  display: inline-flex;
  justify-content: center;
  color: var(--text-color);
  padding: 0.6rem;
  border: 5px;
  background-color: var(--hover-color);
}
footer a i {
  font-size: 1.5rem;
  color: var(--bg-color);
}

/* keyframes---------------------- */

@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% /40% 40% 60% 50%;
  }
  30% {
    border-radius: 70% 30% 70% 50% /30% 30% 70% 70%;
  }
  60% {
    border-radius: 100% 60% 60% 100% /100% 100% 60% 60%;
  }
  80% {
    border-radius: 69% 31% 66% 34% /21% 30% 60% 79%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes glow {
  0% {
    background-color: var(--bg-color);
    box-shadow: none;
  }
  100% {
    background-color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
  }
}

/* Break points------------------------------ */
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 15px 5%;
  }
  footer {
    padding: 15px 5%;
  }
  section {
    padding: 50px 5%;
  }
}
